/* Import Inter font weights */
@import '@fontsource/inter/300.css'; /* light */
@import '@fontsource/inter/500.css'; /* medium */
@import '@fontsource/inter/600.css'; /* semibold */
@import '@fontsource/inter/700.css'; /* bold */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* small custom utilities used in components */
html, body, #root { height: 100%; }
body { font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; }
.hero-bg {
  background-size: cover;
  background-position: center;
}
